---
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{}>;

const title = Astro.props.headings.find(f => f.depth == 1)?.text;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Gender Shrapnel's Sad Pllace" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
</style>
