---
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{}>;

const title = Astro.props.headings.find(f => f.depth == 1)?.text;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Gender Shrapnel's Sad Pllace" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a> | <a href="/kink/">Kink stuff</a>
		</nav>
		<hr>
		<slot />
	</body>
</html>
<style is:global>
	html {
		background-color: #2d3e50;
		color: #c8e7cc;
	}
	a {
		color: #faaee2;
	}

	

	a:visited {
		color: #faaee2;
	}

	a:hover {
		color: #000000;
		background-color: #ecc2db;
	}
</style>
